
.idea/GUI_Project.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.pyc
.idea/shelf/Uncommitted_changes_before_Update_at_2020-12-09__5_05__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2020-12-09_오후_5_05_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_2020-12-09_오후_5_05_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_2020-12-09_오후_5_05_[Default_Changelist]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_2020-12-09_오후_5_05_[Default_Changelist]/shelved.patch
*.patch
test.py
images/image_for_dropdown.png
